<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensibilitytestbed.whereability" >



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/whereability_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SetupActivity" />
        <activity android:name=".MainActivity" android:launchMode="singleTask" android:parentActivityName=".SetupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SetupActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MotionCaptureService" />
        <service android:name=".BackhaulService" />
    </application>

</manifest>
